* {
	margin: 0;
	padding: 0;
	margin-right: 0;
	font-family: 'Oswald', sans-serif;
}

a {
	text-decoration: none;
	color: #000;
	font-family: 'Lobster', cursive;
}
.body{
	/*background:  linear-gradient(rgba(255, 165, 58, 1), rgba(0, 90, 200, 0.5));*/
	/*background-color: #303030;*/
	/*max-width: 940px;
	margin: auto;
	background-color: #303030;*/
}

.block_header{
	display: flex;
	position: fixed;
	z-index: 2;
	opacity: 0.98;
	top: 0px;
	justify-content: center;
	flex-direction: row;
	text-align: center;
	height: 9vh;
	width: 100vw;
	
}

.link_head{
	color: white;
	display: block;
	vertical-align: center;
	font-size: 6vh;
	padding-top: 0.2%;
	margin: auto;
	box-sizing: border-box;
	height: 9vh;
	width: 25%;
	font-family: 'Righteous', cursive;
	background-color: #4a4a4a;
	text-decoration: none;
	
}

.block_header > a{
	/*display: none;
	
	border: 3px solid white*/;
}

.link_head:hover{
	background-color: #292929;
	/**/
}

/*.link_head:active{
	background-color: #ffa500;
	color: #3a3a3a;
}

body{

}*/

marquee {
	/*opacity: 0.75;*/
	font-family: 'Patua One', cursive;
	background-color: none;
	color: #fafafa;
	width: 100%;
	font-size: 2vh;
	/*margin-right: 30px;*/
	border-top: 1px solid #fafafa;
	border-bottom: 1px solid #fafafa;
	margin-top: 9vh;
	position: sticky;
	height: 2.35vh;
	top: 80px;
}

.but {
	padding: 10px;
	height: 8%;
	width: 70%;
	position: relative;
	float: left;
	margin-left: 13.5%;
	margin-top: 30px;
	/*display: flex;
	flex-direction: row;
	justify-content: center;*/
}
.but a{
	font-family: Arial, sans-serif;
	border: 3px solid #ffa500;
	display: block;
	text-align: center;
	text-decoration: none;
	background-color: #ffa500;
	/*width: 180px;
	height: 35px;*/
	padding: 10px 15px;
	font-size: 200%;
	transition: 0.2s; 
	color: #fff;
	border-radius: 100px;
	position: relative;
	
	bottom: 1px;
}

.but a:hover{
	background-color: #fff;
	cursor: pointer;
	color: #ffa500;
	box-shadow: 0px 6px 20px #2b2b2b;
}

.but a:active{
	transform: translateY(2px);
	box-shadow: 0px 2px  2px #000;
}

img.product_image {
	position: relative;
	top: 20px;
	margin-left: 30px;
	border: 3.5px solid #ffa500;
	width: 360px;
	height: auto;
	border-radius: 100%;
	/*border-top-left-radius: 10%;
    border-top-right-radius: 1px;
	border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;*/
    box-shadow: 0px 0px 3px #303030;
}

ul {
	font-size: 150%;
	list-style-type: none;
	float: left;
}

p{
	font-size: 200%;
	margin-top: 10px;
}

.block_hood {
	position: relative;
	float: right;
	text-align: center;
    margin-left: 30px;
    width: 32vw;
	min-width: 300px;
	margin-right: 30px;
    top: 10px;
	height: 400px;
	color: #fff;
	/*border: 4px solid red;*/
}

.description{
	text-align: center;
	width: 100%;
	margin: 0px;
	font-size: 34px;
	font-family: 'M PLUS Rounded 1c', bold;
}

.description_1{
	margin-top: 5px;
	position:relative;
	float: left;
	text-align: left;
	width: 50%;
}

.description_2{
	margin-top: 5px;
	position: relative;
	float: right;
	text-align: right;
	width: 50%;
}

.description_2 > ul{
	
	float: right;
}

.block_footer {
	max-height: 80px;
	display: block;
	border-top: 1px solid #000000;
	font-size: 125%;
	font-family: 'Lobster', cursive;
	text-align: center;
	position: relative;
	top: 35px;
	padding-top: 5px;
	text-shadow: 0px 0px 7px #666;
	padding-bottom: 5px;
	width: 100%;
	background-color: #383838;
	/*background:  linear-gradient(#ed1160, #ffa500);*/
}

.hidden{
	
	color: #303030;
}

form {
	
	/*display: none;*/
}

.block_image{
	float: left;
	/*padding-left: 20px;
	border: 4px solid blue;*/
}

.wrapper{
	width: 68vw;
	margin: auto;
	margin-left: 26vw;
}

.block_first{
	min-height: 410px;
	height: auto;
    background-color: #424242;
    margin-top: 30px;
    border-radius: 1px;
    box-shadow: 0px 0px 12px #222;
}

input[type="text"] {
	display: block;
	background-color: #424242;
	border: 1px solid #ffa500;
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
	height: 45px;
	color: #b2b2b2;
	padding: 0 10px;
	/*float: left;*/
	box-shadow: 0px 0px 10px #222;
	width: 12vw;
	margin-left: 3vw;
	/*vertical-align: top;*/
}

button[type="submit"] {
	display: block;
	background-color: #ffa500;
	border: 1px solid #ffa500;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	height: 47px;
	color: #303030;
	padding: 5px;
	/*float: left;*/;
	width: 4vw;
	box-shadow: 0px 0px 10px #222;
	font-size: 16px;
	font-family: "Patua One", sans-serif;
	vertical-align: center;
}

form[name="search"]{
	display: flex; 
	margin-top: 25px;
	flex-direction: row;
	position: relative;
}

input[name="blank"]{
	width: 62vw;
	box-shadow: 0px 0px 10px #222;
	margin-left: 5.4vw;
}

.sidebar{
	border-radius: 1px;
	margin: 30px 3vw;
	position: absolute;
	display: flex;
	flex-direction: column;
	background-color: #404040;
	color: #fff;
	font-family: 'Arial', sans-serif;
	/*min-height: 200px;*/
	width: 18vw;
	box-shadow: 0 0 10px #202020;
}

.sidebar > ul{
	text-align: center;
}

.sidebar > ul > li{
	padding: 7px 0px;
	font-size: 30px;
	width: 16vw;
	margin: auto;
	border-top: 1px solid #ffa500;
}

.sidebar li:first-child {
	border: none;
	1;
}

.advertisement{
	margin-top: 330px;
	margin-left: 3vw;
	position: absolute;
	width: 18vw;
	height: 50vh;
	box-shadow: 0 0 10px #222;
	background-color: #404040;
	border-radius: 2px;
	color: #fff;
}

.advertisement > img{
	height: 13vw;
	width: 13vw;
	margin-top: 1.4vw;
	margin-left: 2.5vw;
}

.advertisement > .text{
	text-align: center;
	font-size: 3vh;
	font-stretch: condensed;
	padding: 2.6vh 10px;
}

.video {display: none;}

div{/*border: 1px solid #0000ff;*/}









